<md-toolbar data-ng-controller="HeaderController" layout="row">
  <md-button data-ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
    <md-icon md-svg-icon="mainmenu" aria-hidden="true"></md-icon>
    <span class="visually-hidden">Menu</span>
  </md-button>
  <h1 class="md-toolbar-tools" data-ng-bind="title"></h1>
</md-toolbar>

