<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
  <md-toolbar>
    <h1 class="md-toolbar-tools" data-ng-controller="MenuController">
      <a data-ng-href="/#!/" layout="row" layout-align="start center" flex="" href="/" data-ng-click="toggleSidenav('left')">
        <md-icon class="logo" md-svg-icon="logo" aria-hidden="true"></md-icon>
        FastLane
      </a>
    </h1>
  </md-toolbar>

  <md-list class="menu-list" data-ng-controller="MenuController">
    <md-item data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" >
      <md-item-content>
        <md-button href="/#!/{{item.link}}" data-ng-click="toggleSidenav('left')" data-ng-class="{active: ($uiRoute)}" data-ng-bind="item.title" aria-label="item.title">
        </md-button>
      </md-item-content>
    </md-item>
  </md-list>

</md-sidenav>
