[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.main-content{
  position: relative;
}
md-icon.md-default-theme{
  color: rgb(236, 236, 236);
}
md-icon.md-default-theme.logo{
  transform: rotate(360deg) scaleX(-1);
  margin: 2px 10px 0;
  color: rgb(236, 236, 236);
}
/* Utils */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.menuBtn {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 10px 0 0 16px;
  min-width: 36px;
}

.menu-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
  text-transform: none;
  padding: 0 26px;
  border-radius: 0 !important;
  margin: 0;
}
.menu-list .active {
  color: #03a9f4;
  background: rgb(236, 236, 236)
}
