<div data-ng-controller="PricesController">
<div no-include="'/modules/prices/views/price-now.client.view.html'"></div>

<md-card>
  <md-card-content>
    <md-content layout-padding>
      <form name="userForm" ng-submit="getCustomPrices()">
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Start Date</label>
            <input type="date" ng-model="beginDate" name="beingDate">
          </md-input-container>
          <md-input-container flex>
            <label>End Date</label>
            <input type="date" ng-model="endDate" name="endDate">
          </md-input-container>
          <md-input-container flex>
            <md-button type="submit" class="md-raised md-primary" id="submit" >Get Prices</md-button>
          </md-input-container>
        </div>
      </form>
    </md-content>
  </md-card-content>
</md-card>

<md-card ng-animate data-ng-show="showTable">
  <md-card-content>
    <md-table headers="headers" content="prices" sortable="sortable" custom-class="custom" count="count"></md-table>
    <div layout="row" data-ng-hide="dataLoaded" layout-align="center center">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </md-card-content>
</md-card>
</div>
