<md-card data-ng-controller="GraphController">
  <md-card-content flex="100"  class="graphcontainer">
    <form name="userForm" ng-submit="getCustomPrices()">
      <div layout layout-sm="column">
        <md-input-container flex="25">
          <label>Compare with date</label>
          <input type="date" ng-model="date" name="date">
        </md-input-container>
        <md-input-container flex="25">
          <md-button type="submit" class="md-raised md-primary" id="submit" >Compare</md-button>
        </md-input-container>
      </div>
    </form>
    <md-divider ></md-divider>
  </md-card-content>
  <md-card-content flex="100" class="graphcontainer">
    <highchart id="pricesGraph" config="graphConfig"></highchart>
    </div>
    <div layout="row" layout-align="center center" data-ng-hide="dataLoaded" class="graphLoading">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </md-card-content>
</md-card>
