<!-- md-table template-->
<div id="md-table-template">
  <table flex class="md-table">
    <thead>
      <tr class="md-table-headers-row">
        <th data-ng-repeat="h in headers" class="md-table-header"><a href="" data-ng-if="handleSort(h.field)" data-ng-click="reverse=!reverse;order(h.field,!reverse)" >
        <span data-ng-bind="h.name"></span>
        <i data-ng-show="reverse && h.field == predicate" >^</i>
        <i data-ng-show="!reverse && h.field == predicate" >v</i></a>
        <span data-ng-if="!handleSort(h.field)" data-ng-bind="h.name"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="c in content.slice().reverse() | filter:filters | startFrom:tablePage*count | limitTo: count" class="md-table-content-row">
        <td data-ng-repeat="h in headers" data-ng-class="customClass[h.field]" class="md-table-content" data-ng-if="c[h.field] !=null" 
            data-ng-bind="h.field=='created' ? (c[h.field] | moment: 'format': 'dddd, MMMM Do YYYY, h:mm a') : h.field=='price' ?'&#8362;'+c[h.field] : c[h.field]"></td>
      </tr>
    </tbody>
  </table>
  <div layout="row" class="md-table-footer">
    <span class="md-table-count-info">Rows per page :
      <md-select placeholder="{{count || 50}}" data-ng-model="viewVal" data-ng-change="goToPage(0); count=viewVal;">
        <md-option value="10">10</md-option>
        <md-option value="15" >15</md-option>
        <md-option value="20">20</md-option>
        <md-option value="25" >25</md-option>
        <md-option value="30">30</md-option>
        <md-option value="100">100</md-option>
    </md-select>
    <span flex></span>
    <span data-ng-show="nbOfPages() > 1">
      <md-button data-ng-disabled="tablePage==0" data-ng-click="tablePage=tablePage-1" aria-label="Previous Page" class="md-primary md-hue-2">back</md-button>
      <a href="" data-ng-repeat="i in getNumber(nbOfPages()) track by $index">
        <md-button data-ng-click="goToPage($index)" class="md-primary md-hue-2 md-table-footer-item" aria-label="{{$index+1}}">
          <span data-ng-class="{ 'md-table-active-page': tablePage==$index}" ><span data-ng-bind="$index+1">
        </md-button>
      </a>
      <md-button data-ng-disabled="tablePage==nbOfPages()-1" data-ng-click="tablePage=tablePage+1" aria-label="Next Page" class="md-primary md-hue-2">next</md-button>
    </span>
  </div>
</div>
