<div>
  <div no-include="'/modules/prices/views/price-now.client.view.html'"></div>
  <md-card>
  <md-card-content data-ng-controller="PricesController" data-ng-init="handleInit()">
    <md-table headers="headers" content="prices" sortable="sortable" custom-class="custom" count="count" data-ng-show="dataLoaded"></md-table>
    <div layout="row" data-ng-hide="dataLoaded"  layout-align="center center">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </md-card-content>
  </md-card>
</div>
