<div data-ng-controller="PricesController" data-ng-init="priceNow()">
<md-card>
  <md-card-content>
    <div data-ng-show="dataLoaded">
    <p>Price: <small>&#8362;</small><span data-ng-bind="price[0].price"></span></p>
    <p>
      Updated <span data-ng-bind="price[0].created | moment: 'fromNow'"></span>,
      on: <span data-ng-bind="price[0].created | moment: 'format': 'dddd, MMMM Do YYYY, h:mm a'"></span>
      </p>
    </div>
    <div layout="row" data-ng-hide="dataLoaded"  layout-align="center center">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </md-card-content>
</md-card>
</div>
